#root {
  text-align: center;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #2d283e;
  color: #d1d7e0;
}

/* NavBar.tsx styles */
.custom-navbar-items {
  color: #d1d7e0;
}
.custom-navbar-items:hover,
.custom-navbar-items:active {
  color: #a35ccc;
}

/* SocialsTab.tsx styles */
.right-hovering-div {
  /* Positions div to right of screen*/
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  /*background-color: #4c495d;*/
  background-color: #564f6f;
  
  color: #d1d7e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-icons {
  color: #d1d7e0;
}

.custom-icons:hover {
  color: #a35ccc;
}

.header-name {
  background-color: #802bb1;
  display: inline-block;
  /*transform: rotate(10deg); /* Adjust the degree of rotation as needed 
  z-index: -1;
  */
}

.header-cont {
  min-height: 1000px;
}

/* About.tsx styles */
.about-body {
  text-align: justify;
}

/* Contact.tsx stykes */
.contact-cont {
  height: 800px;
}

.contact-form {
  width: 20%;
}
.form-text {
}

/* Footer.tsx styles */
.footer {
  background-color: #564f6f;
  height: 250px;
  width: 100%;
  text-align: center;
}

.footer-icon {
  margin-right: 5px;
}

.footer-links {
  text-decoration: none;
}

.copyright {
  font-size:x-small;
}
