:root {
  --background: #271CA3;
  --background2: #806BEE;
  /* #2d283e; 
      #564f6f
    #a35ccc
    */
  --text: white;
  --main: #2404f3;
  --highlight: #806BEE;
  --accent: #806bee;
  
  --not-in-use: #1D1E20;  
}

#root {
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'norwester';
  src: url('./fonts//norwester.otf') format("opentype");
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "norwester";
}

/* Target WebKit browsers */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8053a5; /* Set the gradient color of the scrollbar handle */
  border-radius: 12px; /* Set the border radius of the handle */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #78729c; /* Set the background color of the scrollbar track to transparent */
}

/* Buttons (arrows) */
::-webkit-scrollbar-button {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#8053a5; /* Set the gradient color of the scrollbar handle on hover */
}

/* Styles for hovering animations */
.hover-animations {
  transition: transform 0.3s ease;
}

.hover-animations:hover {
  transform: scale(1.2);
}

/* Styles for all modular containers */
.cont {
  width: 80%;
  margin: auto;
}

.header-text {
  font-size: 4rem;
  padding: 1em;
}

@media (max-width: 767px) {
  .header-text{
    font-size: 3rem; /* Adjust the font size as needed for smaller screens */
  }
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./assets/svgbg1.svg');

}

.layer2 {
  background-image: url('./assets/svgbg2.svg')
}
/********************************************************************************************/
/* NavBar.tsx styles */

.custom-navbar-items {
  color: var(--text);
}

.custom-navbar-items:hover {
  color: var(--highlight);
}

.custom-navbar-items:visited {
  color: var(--text);
}

/********************************************************************************************/
/* SocialsTab.tsx styles */

.right-hovering-div {
  /* Positions div to right of screen*/
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  /*background-color: #4c495d;*/
  background-color: var(--main);
  
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  opacity: 1;
  transition: opacity 0.95s ease-in-out, transform 0.95s ease-in-out;
}

.hover-text{
  color: var(--text);
}

.hover-text:hover {
  color: var(--highlight);
}

/********************************************************************************************/
/* Header.tsx styles */

.header-cont {
  margin: 5em;
  padding: 1em;
}
.header-img {
  max-width: 20rem;
  align-items: center;
  border: var(--background2) .2em solid;
}

.header-name {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.95s ease-in-out, transform 0.95s ease-in;
}

.fade-out {
  opacity: 0;
  transform: translateX(120px);
}

.fade-up {
  opacity: 0;
  transform: translateY(-120px);
}

.title-name {
  font-size: 6rem;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .title-name {
    font-size: 4rem; /* Adjust the font size as needed for smaller screens */
  }
}

.download-res-butt {
  background-color: #6149e7;
  border-color: #6149e7;
  color: var(--text);
  transition: transform 0.3s ease;
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.download-res-butt:hover {
  background-color: #6149e7;
  border-color: #6149e7;
  transform: scale(1.2);
}


/********************************************************************************************/
/* About.tsx styles */ 

.about-body {
  text-align: justify;
}

.headshot-cont {
  background-image: linear-gradient(to bottom, var(--background), transparent);
  padding: 4rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.about-headshot {
  border-radius: 10%;
  min-width: 100%;
}

.highlights-content {
  background-color: var(--background);
  border-radius: 1.2em;
  font-size:small;
  width: 9em;
  height: 9em;
  margin: .2em;
}

/********************************************************************************************/
/* TechSkills.tsx styles */ 

.techskills-cont {
  padding-top: 10rem;
}

.tech-sec {
  background-color: var(--background);
  margin: 1rem;
  padding: 2rem;
  width: 45rem;
  border-radius: 3rem;
}

.tech-skill {
  padding: .5rem;
  font-size: 1.5rem;
}

.tech-icon {
  width: 2.3rem;
}

/********************************************************************************************/
/* Personal.tsx styles  */
.more-about-header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.photos-div {
  border-radius: 1.2em;
  background-color: var(--background);
  padding: 2em;
  max-width: 45rem;
}

.photos-row {
  margin-top: 10%;
}

.photos {
  border-radius: 1.2rem;
}

.hobbies-cont {
  border-radius: 1.2em;
  background-color: var(--background);
  padding: 2rem;
  margin: .5rem;
  width: 25rem;
}

.hobbies-text {
  font-size:2.6rem;
  margin-bottom: 0;
}

.hobbies-icon{
  font-size: 3rem;
}

/* Animate snowboarder on hover */
.hoverable-icon:hover {
  animation: moveUpDown 1s infinite alternate; /* Set up the animation */
}

@keyframes moveUpDown {
  to {
    transform: translateY(-10px) rotate(-15deg); /* Adjust the distance the icon moves */
  }
}

.icon-png {
  width: 1.2em;
}

section {
  margin: 0;
  padding: 0;
}

/********************************************************************************************/
/* Portfolio.tsx stykes */
.project-card {
  background-color:#563de4;
  color: white;
  transition: transform 0.3s ease;
  height: 100%;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-links {
  color: var(--text);
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 1em;
  background-color: var(--background2);
}

.project-links:hover {
  background-color: transparent;
  border: 2px solid var(--background2);
}

/********************************************************************************************/
/* Contact.tsx stykes */
.contact-link-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: var(--background);
  border-radius: 1.2em;
  margin-left: 12px;
  margin-right: 12px;
}


.cont-link {
  text-decoration: none;
  color:var(--text);
}

.cont-link:hover {
  color:var(--highlight)
}

.contact-form {
  width: 30%;
  min-width: 250px;
}

.form-item {
  margin: 0;
}

.form-text {
  resize: none;
}

.send-msg-butt {
  background-color: var(--background);
  border-color: var(--background);
  color: var(--text);
  transition: transform 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.send-msg-butt:hover {
  background-color: var(--background);
  border-color: var(--background);
  transform: scale(1.2);
}

/********************************************************************************************/
/* Footer.tsx styles */
.footer {
  background-color: var(--main);
  height: 250px;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-icon {
  margin-right: 5px;
}

.footer-links {
  text-decoration: none;
  color: var(--text);
}

.copyright {
  font-size:x-small;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  cursor: none;
  background-color: #000; /* Set the background color for the container */
}

#image-container {
  position: relative;
  z-index: 1; /* Ensure the image is above the canvas */
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Place the canvas behind the image */
}