:root {
  --background: #2d283e;
  --text: #d1d7e0;
  --main: #564f6f;
  --highlight: #a35ccc;
  --accent: #802bb1;
}

#root {
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: var(--background);
  color: var(--text);
}
/* Styles for all modular containers */
.cont {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  margin: auto;
}

/* NavBar.tsx styles */
.custom-navbar-items {
  color: var(--text);
}
.custom-navbar-items:hover,
.custom-navbar-items:active {
  color: var(--highlight);
}

/* SocialsTab.tsx styles */
.right-hovering-div {
  /* Positions div to right of screen*/
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  /*background-color: #4c495d;*/
  background-color: var(--main);
  
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-icons {
  color: var(--text);
}

.custom-icons:hover {
  color: var(--highlight);
}

/* Header.tsx styles */
.header-name {
  background-color: var(--accent);
  display: inline-block;
  /*transform: rotate(10deg); /* Adjust the degree of rotation as needed 
  z-index: -1;
  */
}

.header-cont {
  min-height: 1000px;
}

/* About.tsx styles */
.about-body {
  text-align: justify;
}

/* Contact.tsx stykes */
.contact-cont {
  height: 1000px;
}

.contact-link-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--main);
  border-radius: 1.2em;
  height: 200px;
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
}


.contact-link-cont:hover {
  border: 5px solid var(--highlight);
}

.cont-link {
  text-decoration: none;
  color:var(--text);
}

.cont-link:hover {
  color:var(--highlight)
}

.contact-form {
  width: 30%;
  min-width: 250px;
}

.form-item {
  margin: 0;
}

.form-text {
  resize: none;
}

.send-msg-butt {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--text);
}

.send-msg-butt:hover {
  background-color: var(--highlight);
  border-color: var(--highlight);
}

/* Footer.tsx styles */
.footer {
  background-color: var(--main);
  height: 250px;
  width: 100%;
  text-align: center;
}

.footer-icon {
  margin-right: 5px;
}

.footer-links {
  text-decoration: none;
}

.copyright {
  font-size:x-small;
}
